.node-organizer-add-to-list li.inactive {
  list-style: square url('../images/add.gif');
}

.node-organizer-add-to-list li.active {
  list-style: square url('../images/remove.gif');
}

.node-organizer-add-to-list li.new,
.node-organizer-add-to-list li.message {
  list-style: none;
}
