.item-list > ul.node-organizer-linear-nav > li {
  list-style: none;
  float: left;
  width: 33%;
  padding: 0;
}

.node-organizer-linear-nav li a {
  border: none;
}

.node-organizer-previous-link, .node-organizer-top-link, .node-organizer-next-link {
  display: block;
}

.node-organizer-top-link {
  text-align: center;
}

.node-organizer-next-link {
  text-align: right;
}

.node-organizer-previous, .node-organizer-next {
  font-size: 150%;
  display: block;
}

.node-organizer-previous:before {
  content: '< ';
}

.node-organizer-next:after {
  content: ' >';
}

.node-organizer-top-title {
  font-size: 200%;
}
